       <footer id="msf" class="container">
            <div class="wrapper">
                <ul id="lets-be-social">
                    <li>
                        <a href="#" rel="external" target="_blank" title="Gmail" ><i class="fa fa-google" aria-hidden="true" style="color: #d14836"></i> Gmail.</a>
                    </li>
                    <li>
                        <a href="#" rel="external" target="_blank" title="Facebook friend"><i class="fa fa-facebook " aria-hidden="true" style="color: #29487d"></i> Facebook.</a>
                    </li>
                </ul>
                
                <div id="legal">
                  <span>PRODUCT OF SUTDENT CANTHO UNIVERSITY</span>
                </div>
                
            </div><!-- wrapper -->
        </footer><!-- footer -->